# ocaml build files
_build/
*.native

# latex build files
doc/*
# except tex and pdf
!*.tex
!*.pdf

# output files
*.pretty
*.smartsymtab
*.symtab
*.pptype.go
*.wast

# misc
.DS_Store
.paths
.project*
.settings/
