# ocaml build files
_build/
*.native

# latex build files
doc/*
# except tex and pdf
!*.tex
!*.pdf

# tests temporary files
programs/*/*.sym
programs/*/*.pretty
programs/*/*.pptype.go
programs/*/*.symtab
programs/*/*/*.sym
programs/*/*/*.pretty
programs/*/*/*.pptype.go
programs/*/*/*.symtab
programs/*/*/*/*.sym
programs/*/*/*/*.pretty
programs/*/*/*/*.pptype.go
programs/*/*/*/*.symtab



# misc
.DS_Store
.paths
.project*
.settings/
